.DS_Store
node_modules/*
npm-debug.log
math/**/*.js
math/**/*.d.ts
math/**/*.js.map
tests/**/*.js
**/tsconfig.json
build/spatial.browser*
build/*
!build/spatial.d.ts
!build/spatial.min.js
!build/spatial.node.js
